### Scala
*.class
*.log

### SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### JetBrains
.idea
*.iws
/out/

### VSCode
metals.sbt
.metals
.bloop
.bsp/
.vscode/
